<section class="ftco-section" style="height: 100%;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Detail produits</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<button class="btn btn-success mb-2">
						<a class="nav-link"href="{{ path('app_details_new') }}">Créer <i class="bi bi-bag-plus-fill"></i></a>
					</button>
					<table class="table table-striped">
						<thead class="table-secondary">
							<tr>
								<th>Id</th>
								<th>Produit</th>
								<th>Quantite</th>
								<th>Total</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{% set prixTotal = 0 %}
							{% for detail in detailsAdmin %}
								{% if detail is defined or detail.produit.nom is not null %}
									<tr>
										<td>{{ detail.id }}</td>

										<td>{{ detail.produit ? detail.produit.nom : 'Pas de produits disponible.' }}</td>


										<td>{{ detail.quantite }}</td>
										<td>{{ detail.total }}</td>
										<td>
											<button type="button" class="btn btn-info">
												<a class="nav-link" href="{{ path('app_details_edit', {'id': detail.id}) }}">Editer <i class="bi bi-pencil-square"></i></a>
											</button>
										</td>
									</tr>
									{% set prixTotal = detail.produit ? detail.produit.prix : 0 + prixTotal %}
								{% endif %}
							{% else %}
								<tr>
									<td colspan="4">Pas de Details de produits</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
