<div class="album py-5 bg-light">
	<div class="container">
		<div class="row ">
			{% for produit in produits %}
				<div class="col-3">
					<div class="card shadow-sm">
						<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="nav-link">
							{% if produit.image is not defined or produit.image is null %}
								<img src="{{ asset('uploads/images-Web/imageParDefault.png')}}"class="bd-placeholder-img" width="100%" height="250" alt="">
							{% else %}
								<img class="bd-placeholder-img" width="100%" height="250" alt="" src="{{ asset('uploads/' ~ produit.image)}}">
							{% endif %}
							<div class="card-body h-50">
								<div class="d-flex">
									<div>
										<h5>{{ produit.nom }}</h5>
										<p class="text-start p-0 text-muted" style="font-size:0.8rem">
											{{ produit.description }}</p>
									</div>
									<small class="ms-auto">
										{{ produit.quantite }}
										restants</small>
								</div>
								<div class="d-flex">
									<div
										class="btn-group">
										{# <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('app_produit_show', {'id': produit.id}) }}">View</a></button> #}
										<button class="btn btn-outline-success flex-shrink-0 rounded-2" type="button">
											{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER') %}
												<a class="nav-link" href="{{ path('app_details_new', {'id': produit.id}) }}">
													<i class="bi-cart-fill me-1"></i>
													Ajouter</a>
											{% else %}
												<a class="nav-link" href="{{ path('app_login') }}">
													<i class="bi-cart-fill me-1"></i>
													Ajouter</a>
											{% endif %}

										</button>
										{# <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Edit</a></button> #}
									</div>
									<p class="text-end ms-auto fw-semibold">{{ produit.prix }}
										€</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if produits is empty %}
			<p>
				<td colspan="6">no records found</td>
			</p>
		{% endif %}
	</div>
</div>
